<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <section>
            <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(133, 185, 11);">
                <a class="navbar-brand" href="#" style="font-family: cursive; font-weight:bolder; font-size: 28px; color: rgb(245, 250, 255);">VirtualMarket</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="list-style: none;">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../Home/home_login.html">Iniciar Sesion</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="donancion.html">Aporte</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="categoria.html">Categoria</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'venta.html' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Venta</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-menu" href="producto.html">Comprar productos</a>
                                <a class="dropdown-item" href="../Home/home_carroCompra">Carro de compras</a>
                                <a class="dropdown-item" href="verProducto.html">Ver tus productos</a>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        {% for dnc in donacion %}
        <div class="container-fluid">
            <div class="row-cols-lg-12">
                <h1 class="page-header d-flex justify-content-center"
                style="font-family: cursive; font-weight: bolder;">Donanos!</h1>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col">
                        <ul class="list-inline" style="list-style: none;">
                            <li>
                                <p>{dnc.descripcion}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <form action="#" method="get">
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control">
                              </div>
                              <button class="btn btn-primary" type="submit">Donar</button>
                              <button class="btn btn-danger" type="reset">Limpiar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <footer>
        <div class="container-fluid" style="background-color: rgb(133, 185, 11)">
            <div class="row pb-2 pt-5">
                <div class="col-md-6 mb-2">
                    <div class="widget widget-links widget-light">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start"
                            style="list-style: none">
                            <li class="widget-list-item me-4">
                                <a class="widget-list-link" href="{% url 'index.html' %}">Inicio</a>
                            </li>
                            <li class="widget-list-item me-4">
                                <a class="widget-list-link" href="{% url 'nosotros.html' %}">Nosotros</a>
                            </li>
                            <li class="widget-list-item me-4">
                                <a class="widget-list-link" href="{% url 'contacto.html' %}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div
                        class="widget widget-links widget-light widget-list d-flex flex-wrap mb-3 justify-content-center justify-content-md-end">
                        <button type="button" class="btn btn-outline-secondary widget-list-item">
                            <a class="btn-social bs-light widget-list-linkwidget-light mb-2" href="https://twitter.com/home">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary widget-list-item">
                            <a class="btn-social bs-light widget-list-linkwidget-light mb-2" href="https://web.whatsapp.com/">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary widget-list-item">
                            <a class="btn-social bs-light widget-list-linkwidget-light mb-2" href="https://www.facebook.com/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary widget-list-item">
                            <a class="btn-social bs-light widget-list-linkwidget-light mb-2" href="https://www.instagram.com/">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary widget-list-item">
                            <a class="btn-social bs-light widget-list-linkwidget-light mb-2" href="./contacto.html">
                                <i class="bi bi-envelope"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>